/* index */
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
  	font-size:100%;
	color: darkgreen;
}
body{
	background-image: url(../img/background.jpg);
	width: 100%;
  	height: 100vh;
	background-size: cover;
	background-position: center;
}
/* .logo img{
	float:initial;
	width: 150px;
	height: auto;
} */
.UpperLayout div, .LowerLayout div{
	padding: 10px;
	text-align: center;
}
/*.MiddleLayout{
	min-height: 90vh;
    margin: 0;
}
.MiddleLayout div{
    border:1px #ccc solid;
    border-radius: 10px;
    padding:10px;
}*/
/* .login {
	display: flex;
	order: 1;
	padding: 10px;;
}
.register{
    flex:50% ;
	min-width: 50%;
    order:2;
   
  } */

.NavigationMenu{
	flex:20%;
	order: 1;
	background-color: rgb(25,27,33);
}
.CodeBox{
    flex:80% ;
	min-width: 50%;
    order:2;
    min-height: 85vh;
	background-color: rgb(25,27,33);
	
  }
.CodeBox textarea{
 padding: 1%;
}
input,textarea{
	background-color: #d1d1d1;
	border:2px solid rgb(0, 153, 115);
	border-radius: 12px;
	color: black;	
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.colored-keywords{
	color: blue;
}
.colored-datatypes{
	color: red;
}
/* @media only screen and (max-width:800px){
	.login ul li{
		display: flex;
		 width: 100%; 
	}
} */
@media only screen and (min-width:800px){
	.login ul li{
		/* display: inline-block; */
		/* display: flex; */
		/* justify-content: space-evenly; */
		display: inline-block;
		width: 18%;
	
		/* flex-direction: column; */
	}
    .MiddleLayout,.CodeBox{
        display: flex;
      }  
}
@media only screen and (min-width:600px){
    .MiddleLayout,.CodeBox{
        display: flex;
      }
}
/* .login{
	display: flex;
	
} */
/* div.login{
    text-align: center;
	font-size:100%;
    padding: 1%;
	
} */
/* login */
/* .CodeBoxL{
    flex:50% ;
	min-width: 50%;
    order:1;
	font-size: 280%;
	text-align: center;
  } */
  .RightSettingsL{
	/* flex:50%; */
    /* order: 2; */
	font-size: 200%;
	text-align: center;	
	padding-left: 1%;
	padding-right: 1%;
	
}
.UpperLayoutL{
	font-size: 280%;
	text-align: center;	
}
.UpperLayoutL div{
	padding: 10px;
	text-align: center;
}
/*.MiddleLayoutL{
	min-height: 90vh;
    margin: 0;
}
.MiddleLayoutL div{
    border:1px #ccc solid;
    border-radius: 10px;
    padding:10px;
  }*/
  input{
	width: 100%;
  }
@media only screen and (min-width:1200px){
    .MiddleLayoutL{
        display: flex;
      }

}
ul {
	list-style-type: none;
	margin: 0;
	margin-top: 45px;
	padding: 0;
	width: 100%;
	/* background-color: rgb(25,27,33); */
}

a {
	display: block;
	color: #000;
	margin-top: 15px;
	border: 2px solid	rgb(222,150,91);
	border-radius: 12px;
	padding: 2%;
	text-decoration: none;
	transition: 0.4s ease;
	color: rgb(0, 153, 115);
}
a:hover {
	background-color: rgb(134, 179, 0);
	color: white;
}
.active a{
  background-color: rgb(51, 204, 204);
	color: white;
}
.active a:hover{
  background-color: rgb(134, 179, 0);
  color: white;
}
/* lkajdlksajdlskajdas */
div:empty:before
   		{
    		content: attr(data-placeholder);
    		color: grey;
		}
.code-input{
	font-size: large;
	-moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;

    overflow-y: auto;
    padding: 2px;
    resize: both;
    white-space:pre-wrap;
    /*width: 100%;
    height: 100%;*/
    width: 950px;
    height: 400px;
}

div .code-input{
	font-size: 15px;
	color: rgb(0,0,0);
	background: #F0FFFF;
    padding:10px;
    display: inline-block;
}

.colored-span{
    color: blue;
}

.colored-string{
    color: green;
}