/* index */
*{
	
	margin: 1px;
	padding: 1px;
	font-family: Century Gothic;
  	font-size:100%;
	color: rgb(255, 255, 255);
	margin-top: none;
}
body{
	background-image: url(../img/background.jpg);
	width: 99%;
  	/* height: 100vh; */
	  margin: 1px;
	  padding: 1px;
	background-size: cover;
	background-position: center;
}
.NavigationMenu{
	margin: 1px;
	padding: 1px;
	flex:15%;
	order: 1;
	background-color: #120e0eca;
}
.CodeBox{
    flex:80% ;
	min-width: 70vw;
    order:2;
    min-height: 85vh;
	background-color: #120e0eca;

  }
.CodeBox textarea{
 padding: 1%;
}
input,textarea{
	background-color: #d1d1d1;
	border:2px solid rgb(255, 255, 255);
	border-radius: 12px;
	color: black;	
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
    height: 100vh;

}
.colored-keywords{
	color: blue;
}
.colored-datatypes{
	color: red;
}

  .RightSettingsL,.about{
	font-size: 200%;
	text-align: center;	
	padding-left: 1%;
	padding-right: 1%;
	
}
.about{
	color: white;

}
/* .UpperLayoutL{
	font-size: 280%;
	text-align: center;	
} */
/* .UpperLayoutL div{
	padding: 1px;
	text-align: center;
} */
  input,select{
	width: 50%;
  }

button{
	color: rgb(0, 153, 115);
}
ul {
	list-style-type: none;
	margin: 0;
	margin-top: 45px;
	padding: 0;
	width: 100%;
}

a{
	display: block;
	color: #000;
	margin-top: 15px;
	border: 2px solid	rgb(222,150,91);
	border-radius: 12px;
	padding: 2%;
	text-decoration: none;
	transition: 0.4s ease;
	color: rgb(0, 153, 115);
}
a:hover {
	background-color: rgb(134, 179, 0);
	color: white;
}
.active a{
  background-color: rgb(51, 204, 204);
	color: white;
}
.active a:hover{
  background-color: rgb(134, 179, 0);
  color: white;
}
div:empty:before
   		{
    		content: attr(data-placeholder);
    		color: grey;
		}
.code-input{
	/* asta facea probleme la delete si enter */
	/* font-size: large;
	-moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control; */

    overflow-y: auto;
    padding: 2px;
    resize: both;
    white-space:pre-wrap;
    /*width: 100%;
    height: 100%;*/
    /* width: 950px;
    height: 400px; */
	min-width: 70vw;
	max-width: 80vw;
    height: 75vh;
}

div .code-input{
	font-size: 15px;
	color:#000000;
	background-color: #d1d1d1db;
    padding:10px;
    display: inline-block;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 80vw;
	max-width: 70vw;
    /* height: 75vh; */
	/* width: 100%;
    height: 100%; */
}

.colored-span{
    color: rgb(255, 0, 0);
}
.colored-string{
    color: green;
}
.error-class {
	color: red;
}
.error-empty {
	color: yellow;
}
body > div.MiddleLayout > div.NavigationMenu > ul{
	overflow: scroll ;
    overflow-x: hidden;
	min-height: 435px;
	max-height: 435px;
}

#code-paragraph{
    color: red;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    margin-top: 5px;
    padding: 2px 3px;
    width: 398px; 
    height: 400px;  
}
/* @media only screen and (max-width:800px){
	.login ul li{
		display: flex;
		 width: 100%; 
	}
} */
@media only screen and (min-width:800px){
	.login ul li{
		display: inline-block;
		width: 18%;
	}
    .MiddleLayout,.CodeBox{
        display: flex;
      }  
	  
}
@media only screen and (min-width:600px){
    .MiddleLayout,.CodeBox{
        display: flex;
      }

	  .code-input{
		padding: none;
		min-width: 100vw;
		height: 75vh;
	}
}

@media only screen and (min-width:1200px){
    .MiddleLayoutL{
        display: flex;
      }

}
div#code-input-id {
    max-width: 100% !important;
    width: 100% !important;
}
ul.repositories-class {
    min-height: unset !important;
}



section.cod-form form input {
	width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
}

section.cod-form form select {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
	color: #000;
}

section.cod-form form input:nth-of-type(2) {
    margin-top: 16px;
}

section.cod-form form input[type=password] {
    margin-top: -10px;
}

section.cod-form button {
    margin-top: -20px;
    padding: 10px 15px;
    background: #282e32;
    border: 2px solid #6e7176;
    color: #fff;
    font-size: 21px;
}
input#captcha {
    margin-top: 15px;
    margin-bottom: 20px;
}
section.cod-form form input, section.cod-f select {
    padding-left: 20px;
    box-sizing: border-box;
}

.UpperLayout ul a {
    text-align: center;
    color: #fff;
    border-color: #fff;
    border-radius: 7px;
}
.NavigationMenu button {
	width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #282e32;
    border: 1px solid #6e7176;
}

.NavigationMenu button i {
    color: rgb(0, 153, 115);
}

.NavigationMenu select {
	width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #fff;
    background: #282e32;
    border-color: #6e7176;
}

.NavigationMenu {
    padding: 30px 20px;
    box-sizing: border-box;
}

.NavigationMenu input:first-of-type {float: right;width: unset;}

section.signup-form input , .login-form input{
    margin-bottom: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
}

section.signup-form button, .login-form button {
    padding: 10px 20px;
}

section.signup-form h2, .login-form h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
ul.repositories-class>li>a {
    color: #fff;
    border-color: #fff;
    margin-bottom: 10px;
    margin-top: 3px;
}

ul.repositories-class button {
    width: unset;
    display: inline-block;
    margin-bottom: 0px;
    background:transparent;
    border:none;
    margin-top:-10px;
}
ul.repositories-class button i{
    color: #fff;
}
/* form {} */

section.cod-form select, section.cod-form input, div#code-input-id {
    background: #282d33;
    color: #fff !important;
    border-top: none;
    border-bottom: 2px solid #6e7176;
    border-left: 0;
    border-right: 0;
    padding-left: 20px;
    padding-right: 20px;
}
section.cod-form input::placeholder,  div#code-input-id:before {
    color: #fff;
}
/*sterge border-ul albastru cand dai click pe elemente, de exemplu inputuri*/
*:focus {
    outline: none;
}
@media screen and (max-width:760px){ 
    section.signup-form input, section.login-form input {
        width:95%;
        font-size:23px;
    }
    section.signup-form button, section.login-form button{
       font-size:23px;
    }
}