*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
  font-size:100%;
	color: darkgreen;
}

body{
	background-image: url(background.jpg);
	width: 100%;
  	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul {
  	list-style-type: none;
  	margin: 0;
  	margin-top: 45px;
  	padding: 0;
  	width: 100%;
  	background-color: rgb(25,27,33);
}

a {
  	display: block;
  	color: #000;

  	margin-top: 15px;
  	border: 2px solid	rgb(222,150,91);
  	border-radius: 12px;
  	padding: 2%;
  	text-decoration: none;
  	transition: 0.4s ease;
  	color: rgb(0, 153, 115);
}

a:hover {
  	background-color: rgb(134, 179, 0);
  	color: white;
}

.active a{
	background-color: rgb(51, 204, 204);
  	color: white;
}
.active a:hover{
	background-color: rgb(134, 179, 0);
	color: white;
}

.logo img{
	align-content: center;
	width: 150px;
	height: auto;
}

.MiddleLayout{
	min-height: 90vh;
    margin: 0;
}
.UpperLayout div, .LowerLayout div{
	padding: 10px;
}

.MiddleLayout div{
    border:1px #ccc solid;
    border-radius: 10px;
    padding:10px;
  }

.LogoBox{
	flex:10%;
}

.NavigationMenu{
	flex:10%;
	order: 1;
}

.CodeBox{
    flex:80% ;
	min-width: 50%;
    order:2;
    min-height: 85vh;

  }

input,textarea{
	background-color: #d1d1d1;
	border:2px solid rgb(0, 153, 115);
	border-radius: 12px;
}

.RightSettings{
	flex:10%;
    order: 3;
	
}
@media only screen and (min-width:800px){
    .MiddleLayout{
        display: flex;
      }
   
   }

  @media only screen and (min-width:600px){
    .MiddleLayout,.CodeBox{
        display: flex;
      }
   
   }


  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
div.login{
    text-align: right;
    padding: 1%;
}
