*{
	margin: 0;
	padding: 0;
	font-family: cursive;
}

body{
	background-image: url(img/login_background.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: cover;
}

.wrapper{
	width: 100%;
	height: 100vh;

}

.first{
	width: 20%;
	height: 44%;
	transform: translate(-50%,-50%);
	position: absolute;
	left: 25%;
	top: 50%;
}

input:focus{
	border: 3px solid rgb(186, 121, 52);
}

img{
	position: absolute;
	left: -10%;
	top: 15%;
}

.Container{
	width: 44%;
	height: 44%;
	background: rgb(69,140,204);
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: 5px 3px 15px 4px;
}

h2{
	position: absolute;
	left: 38%;
	top: 2%;
}

#email{
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 24%;
	width: 83%;
	height: 17%;
	padding-left: 7px;
	font-size: 17px;

}


#password{
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
	width: 83%;
	height: 17%;
	padding-left: 7px;
	font-size: 17px;
	
}

button{
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 73%;
	width: 85%;
	height: 20%;
	background-color: rgb(186, 121, 52);
	font-size: 17px;
	font-weight: normal;
	color: #fff;
	border:solid rgb(222, 124, 20);
	transition: 0.3s all;
}

button:hover{
	background: rgb(8, 59, 84);
	cursor: pointer;
	transition: 1s all;
}

a{
	transform: translate(-50%,-50%);

	left: 50%;
	top: 92%;
	font-weight: bold;
	color: #BFC9CA;
	font-size: 18px;
	text-decoration: none;
	transition: 0.6s all;
}

a:hover{
	color: rgb(56, 49, 51);
	transition: 0.6s all;
}

.ABC{
	bottom: 0px;
    position: absolute;
}

#Reg{
	position: relative;
	left: 105%;
	display: inline;
}

#Log{
	position: relative;
	left: 1%;
	top: 50%;
	display: inline;
}


@media only screen and (min-width:600px){
    .Container,.ABC{
        display: flex;
      }
   }


